{{ define "main" }}

  <!-- {{ partial "page-header" . }} -->

  <!-- Introduction -->
  {{ with .Params.introduction }}
    <section class="section pt-6 pb-2">
      <div class="container">
        <div class="row justify-center">
          <div class="lg:col-8 md:col-9 mb-8 text-center">
            <h1>
              <span class="title-host">Host</span><span class="title-hub">Hub</span>
            </h1>
            <h2 class="mb-2 text-h6 lg:text-h6">
              {{ .subtitle | markdownify }}
            </h2>
            <p class="separator"></p>
            <p class="mb-8 text-lg">
              {{ .mvp_text | markdownify }}
            </p>
            <ul class="bullet-list mb-24">
            <!--  <li id="location-info"></li> Placeholder for dynamic content -->
              {{ range .bulletpoints }}
                <li class="parent-item">
                  <span class="bullet-icon"></span> {{ .point | markdownify }}
                  {{ if .subpoints }}
                    <ul class="child-list">
                      {{ range .subpoints }}
                        <li class="child-item">
                          <span class="bullet-icon"></span> {{ . | markdownify }}
                        </li>
                      {{ end }}
                    </ul>
                  {{ end }}
                  <!-- Add badges as single child item (optional) -->
                  {{ if .badges }}
                    <ul class="child-list">
                      <li class="child-item badges-item">
                        <div class="child-badge-row">
                          {{ range .badges }}
                            <span class="child-badge-item">
                              {{ if .url }}
                                <a href="{{ .url }}" target="_blank" rel="noopener">
                                  <img src="{{ .badge_url }}" alt="{{ .label }}">
                                </a>
                              {{ else }}
                                <img src="{{ .badge_url }}" alt="{{ .label }}">
                              {{ end }}
                            </span>
                          {{ end }}
                        </div>
                      </li>
                    </ul>
                  {{ end }}
                </li>
              {{ end }}
            </ul>
            <h2 class="mb-4 text-h4 lg:text-h4">
              {{ .arrow_text | markdownify }}
            </h2>
            {{ partial "image" (dict "Src" .image_light "Class" "img-light" "Alt" "arrow_down_light" "DisplayXL" "40x" "DisplayLG" "36x" "DisplayMD" "32x") }}
            {{ partial "image" (dict "Src" .image_dark "Class" "img-dark" "Alt" "arrow_down_dark" "DisplayXL" "40x" "DisplayLG" "36x" "DisplayMD" "32x") }}
          </div>
        </div>
      </div>
    </section>
  {{ end }}
  <!-- /Introduction -->

  <!-- Sections -->
  {{ range $i, $e:= .Params.sections }}
    <section class="section-sm">
      <div class="container">
        <div class="row items-top justify-between">
          <div
            class="mb:md-0 {{ if not (modBool $i 2) }}
              md:order-2
            {{ end }} md:col-5 mb-1">
            {{ partial "image" (dict "Src" .image_light "Class" "img-light" "Alt" "image" "DisplayXL" "577x" "DisplayLG" "472x" "DisplayMD" "399x") }}
            {{ partial "image" (dict "Src" .image_dark "Class" "img-dark" "Alt" "image" "DisplayXL" "577x" "DisplayLG" "472x" "DisplayMD" "399x") }}
            <span class="img-text-small">
              {{ .image_text | markdownify }}
            </span>
          </div>
          <div
            class="{{ if not (modBool $i 2) }}
              md:order-1
            {{ end }} md:col-7 lg:col-6">
            <h2 class="text-h4 lg:text-h4" style="color: #21918e">
              {{ .title | markdownify }}
            </h2>
            <p class="subtitle">
              {{ .subtitle | markdownify }}
            </p>
            <p class="mb-8 text-lg">
              {{ .content | markdownify }}
            </p>
            <ul>
              {{ range .bulletpoints }}
                <li class="relative mb-4 pl-6">
                  <i class="fa fa-check absolute left-0 top-1.5"></i>
                  {{ . | markdownify }}
                </li>
              {{ end }}
            </ul>
            {{ with .button }}
              {{ if .enable }}
                <a class="btn btn-primary mt-6" href="{{ .link | absURL }}" target="_blank" rel="noopener">
                  {{ .label }}
                  <i class="fa fa-arrow-right pl-2"></i>
                </a>
              {{ end }}
            {{ end }}
          </div>
        </div>
      </div>
    </section>
  {{ end }}
  <!-- /Sections -->

  <script>
    document.addEventListener("DOMContentLoaded", function() {
      fetch(window.location.href, { method: "HEAD" })
        .then(response => {
          const deploymentLoc = response.headers.get("X-Deployment-Location");
          
          let message = "";
          
          if (deploymentLoc === "aws") {
            // Using the shield.io badge for AWS
            message = 'Index.html has been served from <img src="https://img.shields.io/badge/AWS-%23FF9900.svg?logo=amazon-web-services&logoColor=white" alt="AWS Badge">';
          } else if (deploymentLoc === "k8s") {
            // Using the shield.io badge for Kubernetes
            message = 'Index.html has been served from <img src="https://img.shields.io/badge/Kubernetes-326CE5?logo=kubernetes&logoColor=fff" alt="Kubernetes Badge">';
          } else {
            message = 'Could not retrieve location info.';
          }
  
          // Insert the location information into the list item
          const envInfoElement = document.getElementById("location-info");
          if (envInfoElement) {
            // Apply the same <li> structure as static bullet points in Introduction
            envInfoElement.outerHTML = ` 
              <li class="parent-item">
                <span class="bullet-icon"></span>
                ${message}
              </li>
            `;
          }
        })
        .catch(error => console.error("Could not retrieve location info:", error));
    });
  </script>

{{ end }}
